<div class="container">
	<app-nav></app-nav>

	<h1>On screen examples</h1>

	<button [ngSwipeablePanelTrigger]="panelOneName">Expand panel through directive</button>

	<button (click)="togglePanelExpanded()">Toggle expand panel through button</button>
</div>

<ng-swipeable-panel
	[maxContainerHeight]="500"
	[minContainerHeight]="60"
	[panelName]="panelOneName"
	[startExpanded]="panelOneExpanded"
	(expandedEvent)="handlePanelOneExpanded($event)"
>
	<div class="panel-content">
		<h2>Panel name: {{ panelOneName }}</h2>

		<p>Short panel content lorem ipsum sit dolor</p>

		<img
			src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
			alt=""
		/>

		<p>
			Panel long description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
			aliquid animi asperiores assumenda consequuntur, distinctio dolores ducimus esse harum
			in, itaque laborum, magnam molestiae neque nisi quisquam sit ullam vel.
		</p>
	</div>
</ng-swipeable-panel>
