<div class="container">
	<div>
		<a routerLink="/home">Home</a>

		<a routerLink="/about">About</a>
	</div>

	<button [ngSwipeablePanelTrigger]="panelOneName">Toggle first panel</button>

	<button [ngSwipeablePanelTrigger]="'panelSecondTrigger'">Toggle second panel</button>
</div>

<ng-swipeable-panel
	[maxContainerHeight]="300"
	[minContainerHeight]="40"
	[fullScreen]="true"
	[panelName]="panelOneName"
	(fullScreenExpandedEvent)="handlePanelActiveEvent($event)"
>
	<div>
		<h1>Panel 1</h1>
		<h1>Panel 1</h1>
		<h1>Panel 1</h1>
		<h1>Panel 1</h1>
		<h1>Panel 1</h1>
		<h1>Panel 1</h1>
		<h1>Panel 1</h1>
		<h1>Panel 1</h1>
		<h1>Panel 1</h1>
	</div>
</ng-swipeable-panel>

<ng-swipeable-panel
	[maxContainerHeight]="200"
	[minContainerHeight]="30"
	[fullScreen]="true"
	[startExpanded]="true"
	panelName="panelSecondTrigger"
>
	<div>
		<h1>Panel 2</h1>
		<h1>Panel 2</h1>
	</div>
</ng-swipeable-panel>
